#.*
**/*.a
**/*.o
**/CMakeFiles/*
**/Makefile
*.Z
.#*
**~
**/#*
bin/**
cspice/exe/**
OpenSourceData/universe/ephemeris_files/PlanetsLight.bsp
OpenSourceData/universe/ephemeris_files/de430.bsp
build/
emtg/PyEMTG/PyEMTG.pyw - Shortcut.lnk
scripts/*